Add method to check local bit in MAC address 

Many devices use fake/random MAC address using the "local bit" defined in [RFC 7042 section 2.1](https://www.rfc-editor.org/rfc/rfc7042.html#section-2.1):

> Two bits within the initial octet of an EUI-48 have special significance in MAC addresses: the Group bit (01) and the Local bit (02).  OUIs and longer MAC prefixes are assigned with the Local bit zero and the Group bit unspecified. Multicast identifiers may be constructed by turning on the Group bit, and unicast identifiers may be constructed by leaving the Group bit zero.
>
>  The Local bit is zero for globally unique EUI-48 identifiers assigned by the owner of an OUI or owner of a longer prefix.  If the Local bit is a one, the identifier has been considered by IEEE 802 to be a local identifier under the control of the local network administrator; however, there may be emerging recommendations from the IEEE Registration Authority on management of the local address space. If the Local bit is on, the holder of an OUI has no special authority over MAC identifiers whose first 3 octets correspond to their OUI.

It would be handy to have a method to check whenever a MAC is to be considered local (and possible randomized) or not.

See also [this post](https://www.oasys.net/fragments/identify-private-macs/) for reference.

That sounds useful, I'd be happy to accept a PR that implements this.

Sorry its not a PR but how about something like the following?

```
--- /home/username/venv/lib64/python3.12/site-packages/netaddr/eui/__init__.py     2024-06-13 10:12:26.594260700 -0400
+++ __init__.py 2025-03-26 16:53:34.008094800 -0400
@@ -488,6 +488,10 @@
         """:return: True if this EUI is an IAB address, False otherwise"""
         return (self._value >> 24) in IAB.IAB_EUI_VALUES

+    def is_randomized(self):
+      """:return: True is local-admin bit is set, False otherwise"""
+      return bool(((self[0] >> 1) & 1) and (self[0] & (1 << 0) == 0))
+
     @property
     def iab(self):
         """
```
Not sure I can make it any more unreadable tho.